.gptIconWrapper {
    min-width: 36px;
    min-height: 36px;
    border-radius: 100px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
}

.gptIconWrapper:hover {
    background-color: rgba(29, 155, 240, 0.1);
}

.gptIconWrapper.loading {
    animation: pulsate 1s linear infinite;
    pointer-events: none;
    cursor: default;
    background-color: transparent !important;
}

.gptIcon {
    max-height: 20px;
    max-width: 20px;
}

.gptIcon.error {
    animation: error 0.5s linear 2;
}

.gptSelector {
    cursor: pointer;
    padding: 10px 10px;
}

.gptSelector:hover {
    background-color: rgb(247, 249, 249);
}

.gptSelectorContainer {
    position: absolute;
    z-index: 999999;
    font-family: TwitterChirp, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    color: rgb(15, 20, 25);
    font-size: 15px;
    background-color: white;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: rgb(101 119 134 / 20%) 0px 0px 15px, rgb(101 119 134 / 15%) 0px 0px 3px 1px;
}

@keyframes pulsate {
    from { opacity: 1; }
    50% { opacity: 0.3; }
    to { opacity: 1; }
}

@keyframes error {
    from { transform: scale(1); }
    50% { transform: scale(1.3); }
    to { transform: scale(1); }
}